{% extends "_layout.twig" %}

{% block content %}
<h1>{{ list.eventName }} - vstup - kissj</h1>

<script type="text/javascript" src="filter.js"></script>
<script type="text/javascript" src="sendEntryRequest.js"></script>
<label for="inputFilter">
    Filtrování podle jména, TIE kódu, patroly...:
</label>
<input autofocus="autofocus"
       id="inputFilter"
       type="text"
       class="inputTypeText"
       placeholder="zkus Šutr, LKMB, Voňavky..."
       onkeyup="filterInput()"
>

{% if list.roles.pl %}
    {% include 'roleList.twig' with { 'role': 'skupiny', 'participants': list.roles.pl } %}
{% elseif list.roles.tl %}
    {% include 'roleList.twig' with { 'role': 'skupiny', 'participants': list.roles.tl } %}
{% endif %}
{% if list.roles.ist %}
    {% include 'roleList.twig' with { 'role': 'servis', 'participants': list.roles.ist } %}
{% endif %}
{% if list.roles.ist %}
    {% include 'roleList.twig' with { 'role': 'guest', 'participants': list.roles.guest } %}
{% endif %}
{% endblock %}
