<details class="roleListItem" id="roleListItem-{{ p.id }}">
    <summary>
        {% include "participantSummary.twig" with {'p': p} %}
    </summary>
    <button class="btn{% if not p.sfh %} disabled{% endif %}">Vstup skupiny</button>
    {% if p.participants %}
        {% for participant in participants %}
            {% include "participantSummary.twig" with {'p': p} %}
            <button class="btn">Samostatný vstup</button>
        {% endfor %}
    {% endif %}
</details>
