<details class="roleListItem" id="roleListItem-{{ p.id }}">
    <summary>
        {% include "participantSummary.twig" with {'p': p} %}
    </summary>
    <button class="btn{% if not p.sfh %} disabled{% endif %}">Vstup</button>
    {% for groupParticipant in p.participants %}
        <br>{% include "participantSummary.twig" with {'p': groupParticipant} %}
        <button class="btn{% if not groupParticipant.sfh %} disabled{% endif %}">Samostatný vstup</button>
    {% endfor %}
</details>
