<details class="roleListItem" id="roleListItem-{{ p.id }}">
    <summary>
        {% include "participantSummary.twig" with {'p': p} %}
    </summary>
    {% include "participantStatus.twig" with {'p': p} %} |
    {% if role == 'skupiny' %}
        <form
            class="inline"
            method="POST"
            action="{{ kissj_base_url ~ 'v3/entry/troop/' ~ p.id }}"
            onclick="sendTroopEntryRequest(this)"
        >
            {% set troopSfh = true %}
            {% for participant in p.participants %}
                {% if participant.sfh == false %}
                    {% set troopSfh = false %}
                {% endif %}
            {% endfor %}
            <input type="submit" class="btn
                {% if not troopSfh or not p.sfh or p.entryStatus == 'used' %}
                    disabled" disabled="disabled
                {% endif %}
                " value="Vstup celé skupiny">
            <span class="formResult">✔</span>
        </form>
    {% endif %}

    {% include "participantButtons.twig" with {'pButtons': p} %}

    {% for groupParticipant in p.participants %}
        <div id="roleListItem-{{ groupParticipant.id }}">
            {% include "participantStatus.twig" with {'p': groupParticipant} %} |
            {% include "participantSummary.twig" with {'p': groupParticipant} %}
            {% include "participantButtons.twig" with {'pButtons': groupParticipant} %}
        </div>
    {% endfor %}
</details>
