<div class="roleList" id="roleList-{{ role }}">
    <h2>{{ role }} ({{ participants|length }}){# TODO refresh when entry #}</h2>
    {% if participants %}
        {% for participant in participants %}
            {% include "participant.twig" with {'p': participant, 'role': role} %}
        {% endfor %}
    {% else %}
        <p>Nikdo na vstup není (:</p>
    {% endif %}
</div>
